@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@import 'reset.css';
@import 'variables.css';

@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user.css';
@import 'components/badge.css';
@import 'components/icon-row.css';
@import 'components/no-mobile.css';

@import 'screens/login.css';
@import 'screens/friends.css';
@import 'screens/find.css';
@import 'screens/more.css';
@import 'screens/settings.css';
@import 'screens/chat.css';

body {
  background-color: var(--sky-color);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px 25px 80px 25px;
}

main:not(#login-main) {
  padding-bottom: 80px;
}

.theme-background {
  height: 100vh;
  background-color: #b1dbef;
  background-image: url(../images/common/background_1.jpeg);
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: 100% 90%;
}
