#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .screen-header-alt {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}

.message__author {
  display: block;
  font-size: 13px;
  color: var(--gray-color-05);
  margin-bottom: 6px;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__bubble {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message__time {
  color: var(--gray-color-03);
  font-size: 12px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
  gap: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  color: var(--gray-color-05);
}

.reply input {
  width: 100%;
  height: 30px;
  border: var(--line-border);
  border-radius: 25px;
  padding: 5px 10px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -15px;
  top: 6px;
}

.reply__column:last-child > i {
  right: 25px;
  top: 20px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  color: #000;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
