.icon-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  row-gap: 30px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.icon-row__icon i {
  font-size: 35px;
}
