#no-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  opacity: 0.9;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

@keyframes rightArrowAnimation {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes leftArrowAnimation {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.no-mobile__icons > .fa-arrow-right {
  animation: rightArrowAnimation 2s ease-in-out infinite;
}

.no-mobile__icons > .fa-arrow-left {
  animation: leftArrowAnimation 2s ease-in-out infinite;
}

.no-mobile__icons {
  display: flex;
  gap: 40px;
}
