.screen-header {
  padding: var(--horizontal-space);
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
  display: inline-flex;
  gap: 20px;
}
